html{
	background-color: #9bc2d4

}

h1{
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
	font-size: 3rem;
	line-height: 1;

}

ol{
	list-style-type: none;
	padding: 0;

}

ul{
	list-style-type: none;
	padding: 0;
}
