html{
	background-color: #9bc2d4

}

h1{
	font-family: 'Oswald', sans-serif;
	text-decoration: underline;
	font-size: 3rem;
	line-height: 1;

}

ol{
	list-style-type: none;
	padding: 0;

}

ul{
	list-style-type: upper-roman;
}

a{
	color:#4a7b91;
}

a:hover{
	color: #9bdfff;
}

dt{
	font-weight:bold;
	font-family: 'Oswald', sans-serif;
}

figcaption{
	font-style: italic;
	font-size: 1rem;
}
